
body {
    font-family: sans-serif;
    width: min(800px, 100%);
    margin: auto;
}

form {
    /* Tabular display lets us line up the form input fields properly */
    display: table;
    border-spacing: 10px 5px;
}

label {
    display: table-row;
}

label > * {
    display: table-cell;
}

label span:first-child {
    text-align: right;
}

table {
    border-collapse: collapse; /* "Merge" table cell borders */
    margin-bottom: 20px; /* Extra room between table and delete button */
}

thead {
    background-color: #eee;
}

th, td {
    /* Make it look like an actual table */
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}